* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

.navbar {
  width: 100%;
  line-height: 48px;
  position: absolute;
  z-index: 999999;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  margin-left: 20px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

#banner-bg {
  margin-bottom: 70px;
  background: url(../images/Banner.png) no-repeat, center/cover;
  height: 1002px;
  width: 100%;
  position: relative;
  z-index: 1;
}
#banner-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(150, 41, 95), rgb(114, 48, 85), rgb(83, 49, 90), rgb(55, 46, 95), rgb(32, 40, 100));
  z-index: -1;
  inset: 0;
  opacity: 0.9;
}
#banner-bg::before {
  content: "";
  position: absolute;
  background: url(../images/banner-shape.png) no-repeat, center/cover;
  width: 100%;
  height: 320px;
  left: 0;
  bottom: 0px;
}
#banner-bg .banner-main .banner-text {
  margin-top: 290px;
}
#banner-bg .banner-main .banner-text h1 {
  font-family: "Poppins";
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  line-height: 110px;
}
#banner-bg .banner-main .banner-text p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
#banner-bg .banner-main .banner-text .banner-btn {
  margin-top: 20px;
}
#banner-bg .banner-main .banner-text .banner-btn button {
  background: #ffffff;
  color: #000000;
  padding: 7px 15px;
  margin-right: 24px;
}

#about-appora {
  padding-bottom: 100px;
}
#about-appora .headline {
  padding: 0px 295px;
  padding-bottom: 92px;
}
#about-appora .headline h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  color: #000000;
}
#about-appora .headline p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-top: 34px;
}
#about-appora .about-appora-main .appora-item {
  padding-bottom: 58px;
  margin-bottom: 34px;
  border-bottom: solid 5px #fff;
  box-shadow: 0px -1px 17px 1px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px -1px 17px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -1px 17px 1px rgba(0, 0, 0, 0.42);
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}
#about-appora .about-appora-main .appora-item img {
  padding-top: 26px;
  padding-bottom: 21px;
  width: 119px;
  height: 119px;
}
#about-appora .about-appora-main .appora-item h5 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 28px;
}
#about-appora .about-appora-main .appora-item p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
#about-appora .about-appora-main .appora-item:hover {
  border-bottom-color: #202877;
}

#about-service {
  padding-bottom: 100px;
}
#about-service .container .headline {
  padding: 0px 295px;
  padding-bottom: 92px;
}
#about-service .container .headline h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  color: #000000;
}
#about-service .container .headline p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-top: 34px;
}

#app-services {
  padding-bottom: 108px;
}
#app-services .headline {
  padding: 0px 295px;
  padding-bottom: 20px;
}
#app-services .headline h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  color: #000000;
}
#app-services .headline p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-top: 34px;
}
#app-services .app-services-main .app-services-text {
  padding-top: 146px;
}
#app-services .app-services-main .app-services-text h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  padding-right: 35px;
  margin-bottom: 16px;
  line-height: 54px;
}
#app-services .app-services-main .app-services-text h6 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding-right: 35px;
  margin-bottom: 51px;
}
#app-services .app-services-main .app-services-text ul li i {
  font-size: 30px;
  color: #962DE6;
  line-height: 51px;
  padding-right: 27px;
}
#app-services .app-services-main .app-services-text ul li p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  padding-right: 30px;
  line-height: 21px;
  margin-bottom: 30px;
}
#app-services .app-services-main .app-services-text .appora-btn {
  margin-top: 43px;
}
#app-services .app-services-main .app-services-text .appora-btn button {
  background: #372E95;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  padding: 21px 40px;
}

#appora-contact {
  padding-bottom: 29px;
}
#appora-contact .headline {
  padding: 0px 295px;
  padding-bottom: 92px;
}
#appora-contact .headline h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  color: #000000;
}
#appora-contact .headline p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-top: 34px;
}
#appora-contact .contact-main .contact-text h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#appora-contact .contact-main .contact-text p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 22px;
  padding-right: 15px;
}
#appora-contact .contact-main .contact-text ul li {
  margin-bottom: 22px;
}
#appora-contact .contact-main .contact-text ul li a i {
  width: 50px;
  height: 50px;
  background: #962DE6;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#appora-contact .contact-main .contact-text ul li a h6 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  line-height: 50px;
  margin-left: 38px;
}
#appora-contact .contact-main .contact-form input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #372E95;
  margin-bottom: 55px;
}
#appora-contact .contact-main .contact-form textarea {
  width: 100%;
  height: 153px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #372E95;
}
#appora-contact .contact-main .contact-form .contact-btn {
  margin-top: 43px;
}
#appora-contact .contact-main .contact-form .contact-btn button {
  background: #962DE6;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  padding: 12px 22px;
}

footer {
  background: #222222;
  padding-top: 56px;
}
footer .footer-item {
  padding-bottom: 25px;
}
footer .footer-item p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 58px;
  padding-top: 25px;
}
footer .footer-item .footer-social a i {
  color: #ffffff;
  font-size: 30px;
  margin-right: 21px;
}
footer .footer-item .footer-headline {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 25PX;
}
footer .footer-item ul li {
  margin-bottom: 20px;
}
footer .footer-item ul li a {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
footer .footer-copy {
  padding: 15px 0px;
  border-top: 2px solid #7A7474;
}
footer .footer-copy p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */